---
import Post from "../../components/Post.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .map((p) => ({
    slug: p.slug,
    ...p.data,
  }))
  .sort(
    (a, b) => new Date(b.createdAt).valueOf() - new Date(a.createdAt).valueOf(),
  );
---

<Layout title="Posts">
  <h1 class="text-4xl">Posts</h1>
  {posts.map((post) => <Post post={post} />)}
</Layout>
  <fotter class="text-center">
    <p class="font-semibold text-black">Made with 💖 by <span><a class="text-blue-400 font-bold hover:(no-underline text-blue-600)" href="https://github.com/oyepriyansh">oyePriyansh</a></span></p>
    <p><div>Copyright © {(new Date().getFullYear())}.All rights reserved.</div></p>
  </fotter>
