---
---
<html lang="en">
  <head>
    <title>My Homepage</title>
    <style>
      body, html {
        margin: 0;
        padding: 0;
        display: flex;
        
        height:aut0;
        align-items: right;
        justify-content: right;
      }

      img {
        object-fit: cover;
        width: auto;
        height: 80%; /* Set the height to 80% of the viewport height */
      }
    </style>
  </head>
  <body>
    <img src="/images/ErrorPage404-03.webp" alt="Error-404" class="error-404-img" />
  </body>
</html>
